
:root {
    --primary-color: #3498db; 
    --secondary-color: #ffffff; 
    --accent-color: #2ecc71; 
    --highlight-color: #f39c12; 
    font-family: 'Roboto', sans-serif;  
}

/* 
  .componentContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;
    margin-left: 250px;
    height:85vh;
    padding: 5rem;
  }

  

  button {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
   
  }

  input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
  }

  input::placeholder {
    color: #999999;
  }
 


   */